<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body class="background">
    <h2 style="text-align:center;">Leave Management system</h2>
    <div>
        @*@Html.ActionLink("Home", "Index", "Home")*@

        @if (HttpContext.Current.User.IsInRole("Admin"))
        {

            @Html.ActionLink("AddEmployee", "CreateEmployee", "Admin")
            @Html.ActionLink("AddDepartment", "Create", "Admin")
            @Html.ActionLink("AddManager", "CreateManager", "Admin")
            @Html.ActionLink("AddDesignation", "CreateDesignation", "Admin")
        }
        @if (HttpContext.Current.User.IsInRole("Manager"))
        {
            @Html.ActionLink("Display", "Index", "Manager")
        }
        @if (HttpContext.Current.User.IsInRole("Employee"))
        {
            @Html.ActionLink("Display", "Index", "Employee")
        }
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            
            @Html.ActionLink("Logout", "LogOff", "Account")
        }
        else
        {
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Login", "Login", "Account")
        }


        @RenderBody()
    </div>
</body>
</html>
