@model IEnumerable<LeaveManagementSystemEntity.Employee>

@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>DisplayEmployee</h2>

<table border="1">
    <tr>
        <td>@Html.ActionLink("Create New Employee", "CreateEmployee")</td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>Employee Age</td>
        <td>Employee PhoneNumber</td>
        <td>EmployeeEmail</td>
        <td>EmployeeGender</td>
        <td>DepartmentId</td>
        <td>Designation Id</td>
        <td>Manager Id</td>
        <td>Choice</td>
    </tr>
    @foreach (LeaveManagementSystemEntity.Employee employee in Model)
    {
        <tr>
            <td>
                @employee.EmployeeName
            </td>
            <td>
                @employee.EmployeeAge
            </td>
            <td>
                @employee.EmployeePhoneNumber
            </td>
            <td>
                @employee.EmployeeEmail
            </td>
            <td>
                @employee.EmployeeGender
            </td>
            <td>
                @employee.Department.DepartmentName
            </td>
            <td>
                @employee.Designation.DesignationName
            </td>
            <td>
                @employee.Manager.ManagerName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = employee.EmployeeId })
            </td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = employee.EmployeeId })</td>
        </tr>
    }
</table>

